apiVersion: apps/v1
kind: Deployment

metadata:
  name: fcg-users
  namespace: fcg-users
  labels:
    app: fcg-users
  
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fcg-users
  template:
    metadata:
      labels:
        app: fcg-users
    spec:
      serviceAccountName: fcg-users-sa
      imagePullSecrets:
        - name: acr-secret
      containers:
        - name: fcg-users
          image: fiapcr.azurecr.io/fcg-users:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          
          envFrom:
            - configMapRef:
                name: fcg-users-config
            - secretRef:
                name: fcg-users-secret
          
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "5215Mi"
          
          securityContext:
            allowPrivilegeEscalation: false
            runAsNonRoot: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false