apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-ui
  namespace: fcg-users
  labels:
    app: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-ui
  template:
    metadata:
      labels:
        app: kafka-ui
    spec:
      containers:
        - name: kafka-ui
          image: provectuslabs/kafka-ui:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          env:
            - name: KAFKA_CLUSTERS_0_NAME
              value: "local"
            - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
              value: "kafka-service:9092"
            - name: KAFKA_CLUSTERS_0_ZOOKEEPER
              value: "zookeeper-service:2181"
            - name: KAFKA_CLUSTERS_0_READONLY
              value: "false"
            - name: DYNAMIC_CONFIG_ENABLED
              value: "true"
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-ui-service
  namespace: fcg-users
  labels:
    app: kafka-ui
spec:
  type: NodePort
  selector:
    app: kafka-ui
  ports:
    - port: 8081
      targetPort: 8080
      nodePort: 30081
      protocol: TCP
      name: http
  sessionAffinity: None
