apiVersion: v1
kind: Service
metadata:
  name: fcg-users-service
  namespace: fcg-users
  labels:
    app: fcg-users
spec:
  type: NodePort
  selector:
    app: fcg-users
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30000
      protocol: TCP
      name: http
  sessionAffinity: None
